.side_bar  
  .username
    .username__namebox
      .username__namebox__name
        masa
      .username__namebox__icons
        .username__namebox__icons__icon_1
        = link_to "https://#.com" do
          = icon('fas', 'edit', class: "icon_1")
        .username__namebox__icons__icon_2
        = link_to "https://#.com" do
          = icon('fas', 'cog', class: "icon_2")

  .grouplist
    .grouplist__groupbox
      .grouplist__groupbox__groupname
        techcamp
      .grouplist__groupbox__firstmessage
        まだメッセージはありません
    .grouplist__groupbox
      .grouplist__groupbox__groupname
        masamigroup
      .grouplist__groupbox__firstmessage
        フロント実装中
    .grouplist__groupbox
      .grouplist__groupbox__groupname
      .grouplist__groupbox__firstmessage