* {
  box-sizing: border-box;
}
.wrapper{
  height: 100vh;
  width: 100vw;
  $side_color:#253141;
  $side_white:#ffffff;
  $main_white:#fafafa;

  .side_bar{
    background-color: $side_color;
    height: 100vh;
    width: 300px;
    float: left;
  
    .username{
      height: 100px;
      width: 100%;
      align-items: center;
      position: relative;
      &__namebox{
         background-color: $side_color;
         height: 20px;
         width: 260px;
         position: absolute;
         top: 40px;
         left: 20px;
         display: flex;
         justify-content: space-between;
      
         &__name{
            font-size: 14px;
            font-weight: bold;
            color: $side_white;
         }
         &__icons{
           display: flex;
           a {
             text-decoration: none;
             color: $side_white;
             margin-left: 2px;
           }
         }
        }
      }

    .grouplist{
       background-color: #2f3e51;
       height: calc(100% - 100px);
       width: 100%;
    
      &__groupbox{
         height: 91px;
         width: 100%;
         padding-top: 20px;
         
        a{
          text-decoration: none;
        }
        
         &__groupname{
            height: 15px;
            width: 260px;
            margin-bottom: 5px;
            margin-left: 20px;
            font-size: 15px;
            color: $side_white;
            text-decoration: none;
         }
         &__lastmessage{
            height: 11px;
            width: 260px;
            margin-left: 20px;
            font-size: 11px;
            color: $side_white;
            text-decoration: none;
         }
      }
    }
  }
  .main_chat{
    height: 100vh;
    width: calc(100vw - 300px);
    float: left;
  
    .groupinfo{
      background-color: $side_white;
      height: 100px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-top: 28px;
      padding-left: 40px;
      padding-bottom: 0;
    
      &__infobox{
         height: 65px;
         width: 300px;

        &__group{
           color: #333333;
           font-size: 20px;
           margin-bottom: 15px;
           padding-top: 7px;
        }
        &__menber{
           color: #999999;
           font-size: 12px;
           bottom: 0;
           list-style: none;
           display: flex;
           justify-content: space-around;
        }
    
      }
      &__edit_btn{
         height: 40px;
         width: 72px;
         color: #38aef0;
         border: solid 1px #38aef0;
         text-align: center;
         margin-right: 40px;
         font-size: 16px;
         line-height: 40px;
       } 
       a{
         text-decoration: none;
         color:#38aef0 ;
       }
      }

    .messagelist{
      background-color: $main_white;
      height: calc(100vh - 190px);
      width: 100%;
      padding-top: 40px;
      overflow: scroll;
    
      .message{
         width: 350px;
         margin-bottom: 46px;
         margin-left: 40px;
      
        .upper-message{
           height: 24px;
           width: 350px;
           display: flex;
           margin-bottom: 12px;
        
           &__user-name{
              line-height: 24px;
              font-size: 16px;
              font-weight: bold;
              color: #333333;
              margin-right: 12px;
           }
           &__date{
              font-size: 12px;
              color: #999999;
           }
         }
        .lower-message{
           font-size: 14px;
           color: #434A54;
        }
      }
    }
    .messageform{
      background-color: #d2d2d2;
      height: 90px;
      width: 100%;
      display: flex;
      padding-top: 20px;
    
      .new_message{
        height: 50px;
        width: calc(100% - 80px);
        margin-left: 40px;
        display: flex;
        position: relative;
      
        .messageform__new__message{
          background-color: $main_white;
          height: 50px;
          width: calc(100% - 40px);
          line-height: 50px;
          color: #999999;
          padding-left: 10px;
          border-width: 0px;
        }
        
        .messageform__new_message__picture_btn{
          position: absolute;
          top: 12px;
          right: 120px;                  
          .icon{
            color: #253141;
            font-size: 26px;
          }
          .none{
            display:none;
          }
        }
      }
      .messageform__send_btn{
        background-color: #38aef0;
        color: $main_white;
        height: 50px;
        width: 100px;
        margin-left: 15px;
        position: relative;
        border-width: 0px;
        .a{
          color: $main_white;
          font-size: 18px;    
          position: absolute;
          top: 12px;
          right: 30px;
          text-decoration: none;
        }
      }
  }
}
}
